# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.env*.local
*.env

# Local History for Visual Studio Code
.history/

# Local settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Firebase
# Omitted src/lib/firebase/serviceAccountKey.json as it's no longer used by default.
# If you re-introduce it manually, ensure it's gitignored if it contains sensitive credentials.

# Genkit
.genkit/log/
.genkit/cache/
.genkit/flow-state.json
src/ai/.genkit-cache.json

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Output files from tsc
dist/
# If you have other output directories for TypeScript, add them here.
# For example, if your tsconfig.json has "outDir": "lib"
# lib/
.vercel
